app/admin/attendance/attendance-dashboard-client.tsx
app/admin/attendance/page.tsx
app/admin/finance/page.tsx
app/admin/reports/class-attendance/page.tsx
app/admin/reports/finance/class/page.tsx
app/admin/reports/individual-complete/page.tsx
app/admin/students/[id]/page.tsx
app/admin/students/page.client.tsx
app/admin/students/page.tsx
app/admin/teachers/page.client.tsx
app/admin/teachers/page.tsx
